@model IQueryable<KennelUnion.Data.Entities.DogRegistry>

@{
    ViewBag.Title = "Przeglądaj protokoł rejestracji psów";
}

<h1>@ViewBag.Title</h1>
<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <tr>
            <th>
                Imię i nazwisko hodowcy
            </th>
            <th>
                Adres
            </th>
            <th>
                Kontakt
            </th>
            <th>
                Imię psa
            </th>
            <th>Rodzice</th>
            <th>Rasa</th>
            <th>
                Umaszczenie
            </th>
            <th>
                Płeć
            </th>
            <th>Data urodzenia</th>
            <th>Chip</th>
            <th>Data wysłania</th>
            <th>Zaakceptowano</th>
        </tr>
        @foreach (var registry in Model)
        {
            <tr class="@(registry.IsApproved ? "success" : "danger")">
                <td>
                    @registry.Breeder.Name @registry.Breeder.Lastname
                </td>
                <td>
                    @registry.Breeder.Street <br />
                    @registry.Breeder.Post <br />
                    @registry.Breeder.Location
                </td>
                <td>
                    @registry.Breeder.Email <br />
                    @registry.Breeder.PhoneNumber
                </td>
                <td>
                    @registry.Dog.Name
                </td>
                <td>
                    @registry.Dog.Mother <br />
                    @registry.Dog.Father
                </td>
                <td>
                    @registry.Dog.Breed
                </td>
                <td>
                    @registry.Dog.Color
                </td>
                <td>
                    @registry.Dog.Sex
                </td>
                <td>
                    @registry.Dog.BirthDate
                </td>
                <td>
                    @registry.Dog.Chip
                </td>
                <td>
                    @registry.CreatedOn
                </td>
                @if (registry.IsApproved)
                {
                    <td>Tak</td>
                }
                else
                {
                    <td>
                        Nie <br/>
                        <a asp-action="AcceptRegistry" asp-route-id="@registry.Id">(Akceptuj)</a>
                    </td>
                }
            </tr>
        }
    </table>
</div>
<ul class="pagination">
    @if (ViewBag.Page > 1)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page - 1)">Poprzednia strona</a></li>
    }

    @if (ViewBag.Page > 3)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page - 3)">@(ViewBag.Page - 3)</a></li>
    }
    @if (ViewBag.Page > 2)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page - 2)">@(ViewBag.Page - 2)</a></li>
    }
    @if (ViewBag.Page > 1)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a></li>
    }

    <li class="active"><a>@(ViewBag.Page)</a></li>

    @if (ViewBag.Page < ViewBag.PagesCount)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page + 1)">@(ViewBag.Page + 1)</a></li>
    }
    @if (ViewBag.Page < ViewBag.PagesCount - 1)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page + 2)">@(ViewBag.Page + 2)</a></li>
    }
    @if (ViewBag.Page < ViewBag.PagesCount - 2)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page + 3)">@(ViewBag.Page + 3)</a></li>
    }

    @if (ViewBag.Page < ViewBag.PagesCount)
    {
        <li><a asp-action="BrowseDogRegistries" asp-route-page="@(ViewBag.Page + 1)">Następna strona</a></li>
    }
</ul>