@model KennelUnion.Data.Entities.LitterOverview

@{
    ViewBag.Title = "Przegląd miotu - " + Model.Name;
}

<h1>Przegląd miotu - @Model.Name</h1>
<table class="table">
    <tr>
        <th>Zaakceptowano</th>
        <td>
            @if (Model.IsApproved)
            {
                @: Tak
            }
            else
            {
                @: Nie
                <br/>
                <a asp-action="AcceptOverview" asp-route-id="@Model.Id">Akceptuj</a>
            }
        </td>
    </tr>
    <tr>
        <th>
            Nazwa hodowli
        </th>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <th>
            Właściciel hodowli
        </th>
        <td>
            @Model.Owner
        </td>
    </tr>
    <tr>
        <th>
            Rasa
        </th>
        <td>
            @Model.Breed
        </td>
    </tr>
    <tr>
        <th>
            Ojciec
        </th>
        <td>
            @Model.Father
        </td>
    </tr>
    <tr>
        <th>
            Nr rejestracyjny ojca
        </th>
        <td>
            @Model.FatherRegistrationNumber
        </td>
    </tr>
    <tr>
        <th>
            Matka
        </th>
        <td>
            @Model.Mother
        </td>
    </tr>
    <tr>
        <th>
            Numer rejestracyjny matki
        </th>
        <td>
            @Model.MotherRegistrationNumber
        </td>
    </tr>
    <tr>
        <th>
            Data krycia
        </th>
        <td>
            @Model.MatingDate
        </td>
    </tr>
    <tr>
        <th>
            Data urodzenia szczeniąt
        </th>
        <td>
            @Model.BirthDate
        </td>
    </tr>
    <tr>
        <th colspan="4" class="center-text">
            Szczenięta
        </th>
    </tr>
    <tr>
        <th>
            Płeć
        </th>
        <th>
            Imię
        </th>
        <th>
            Umaszczenie
        </th>
        <th>
            Chip
        </th>
    </tr>
    @foreach (var pup in Model.Pups)
    {
        <tr>
            <td>
                @pup.Sex
            </td>
            <td>
                @pup.Name
            </td>
            <td>
                @pup.Color
            </td>
            <td>
                @pup.Chip
            </td>
        </tr>
    }
</table>
