@model KennelUnion.Data.Entities.News

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
<p>@Model.Preview</p>
<div class="wrap-words">@Html.Raw(Model.Body)</div>
<p>Utworzono @Model.CreatedOn przez @(Model.Author != null ? Model.Author.UserName : "Brak")</p>