@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@model List<KennelUnion.Data.Entities.News>
@{
    ViewData["Title"] = "Aktualności";
}
<h2 class="blog">Aktualności</h2>

@foreach (var news in Model)
{
    <h3>@news.Title</h3>
    <p>@news.Preview</p>
    <p>@news.CreatedOn</p>
    if(news.Author != null) { 
         <p>Author: @news.Author.UserName</p>
    }
    <a asp-action="Show" asp-route-id="@news.Id">Czytaj więcej...</a>
    if (SignInManager.IsSignedIn(User))
     {
         <a asp-action="Edit" asp-route-id="@news.Id">Edytuj</a>
     }
}

<ul class="pagination" id="news-pagination">
    @if (ViewBag.Page > 1)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page - 1)">Poprzednia strona</a></li>
    }

    @if (ViewBag.Page > 3)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page - 3)">@(ViewBag.Page - 3)</a></li>
    }
    @if (ViewBag.Page > 2)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page - 2)">@(ViewBag.Page - 2)</a></li>
    }
    @if (ViewBag.Page > 1)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page - 1)">@(ViewBag.Page - 1)</a></li>
    }

    <li class="active"><a>@(ViewBag.Page)</a></li>

    @if (ViewBag.Page < ViewBag.PagesCount)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page + 1)">@(ViewBag.Page + 1)</a></li>
    }
    @if (ViewBag.Page < ViewBag.PagesCount - 1)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page + 2)">@(ViewBag.Page + 2)</a></li>
    }
    @if (ViewBag.Page < ViewBag.PagesCount - 2)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page + 3)">@(ViewBag.Page + 3)</a></li>
    }

    @if (ViewBag.Page < ViewBag.PagesCount)
    {
        <li><a asp-action="Index" asp-route-page="@(ViewBag.Page + 1)">Następna strona</a></li>
    }
</ul>