@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@model List<KennelUnion.Data.Entities.News>
@{
    ViewData["Title"] = "Aktualności";
}
<h2>Aktualności</h2>

@foreach (var news in Model)
{
    <h3>@news.Title</h3>
    <p>@news.Preview</p>
    <p>@news.CreatedOn</p>
    if(news.Author != null) { 
         <p>Author: @news.Author.UserName</p>
    }
    <a asp-action="Show" asp-route-id="@news.Id">Czytaj więcej...</a>
    if (SignInManager.IsSignedIn(User))
     {
         <a asp-action="Edit" asp-route-id="@news.Id">Edytuj</a>
     }
}